@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --text-primary: #ffffff;
  --text-secondary: #e2e8f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);
}

body {
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}

h2 {
  @apply text-white text-lg 2xl:text-xl font-medium mb-2 tracking-tight;
}

p {
  @apply text-[#E2E8F0] text-lg tracking-tight leading-relaxed;
}

.hero-headline {
  @apply text-white text-5xl md:text-6xl font-normal text-left sm:text-center tracking-tight leading-[1.1] mb-4 sm:mb-8 md:mb-12;
}

.hero-sub-headline {
  @apply text-[#E2E8F0] text-base sm:text-lg 2xl:text-xl max-w-xl mx-auto md:mx-0 md:leading-6;
}

.gradient-button {
  position: relative;
  border-radius: 10px;
  border: none;
  padding: 3px;
  background: linear-gradient(to bottom, #c0c0c0, #006528, #40b16d);
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.3);
}

.gradient-button-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(to bottom, #d9d9d9, #006528);
  padding: 0.5rem 1.25rem;
  color: var(--text-primary);
  font-weight: 300;
}

.gradient-button:focus-visible {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

.section-spacing {
  @apply max-w-6xl mx-auto py-8;
}
.section-tag {
  @apply text-white uppercase text-lg font-medium text-center m-0;
}

.section-title {
  @apply text-white text-4xl sm:text-5xl font-normal text-center mt-4;
}

.card-titles {
  @apply text-white text-base sm:text-lg font-medium text-center;
}
